# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
insert_final_newline = true
trim_trailing_whitespace = true

# PowerShell files
[*.{ps1,psm1,psd1}]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
