# Editors
.vscode/
.vs/

# local preference scripts/utilities
.local/

# Build output folder
output/

# Testing folders
Testing/
STIGTest/

# Dynamic test folder where class inport code is stored
.DynamicClassImport/

# RequiredModules.psd1 is created by the build script and should be git ignored
RequiredModules.psd1